.container {
  margin: 0 auto;
  display: flex;
  height: 100vh;
}
.leftSide {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12%;
}
input {
  outline: none;
  border: none;
}
a {
  color: #00b14f;
}

.emailInput,
.passwordInput {
  display: flex;
  align-items: center;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  height: 40px;
  margin-bottom: 25px;
  padding-left: 10px;
  margin-top: 5px;
}

button {
  height: 40px;
  background-color: #00b14f;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
}
.showPassword {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  width: 40px;
  color: #00b14f;
}

.passwordInput {
  position: relative;
}

.otherLoginMethod {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.otherLoginMethod button {
  color: white;
  display: flex;
  align-items: center;
  justify-content:center;
  width: 32%;
  cursor: pointer;
}
