.inputSearch {
  height: 40px;
  width: 15%;
  border: 1px solid rgb(206, 195, 195);
  border-radius: 5px;
  padding-left: 10px;
  margin-right: 10px;
}

.btn {
  height: 43px;
  cursor: pointer;
  color: white;
  width: 200px;
}

.inputSearch:hover {
  border-color: #00b14f;
}