.container {
  position: relative;
  min-height: 90vh;
  background-size: contain;
  background-image: url("../../assets/images/homeBackground.png");
}

.homeImage {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translateX(-50%);
}

.homeBtn {
  position: absolute;
  width: 250px;
  color: white;
  font-weight: bolder;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
  cursor: pointer;
}


.homeSlogan{
  position: absolute;
  text-align: center;
  width: 100%;
  top: 15%;
}