.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 78px;
  background-color: white;
  border-bottom: 1px solid rgb(240, 237, 237);
  position: fixed;
  width: 95%;
  z-index: 9999;
}

.route {
  text-decoration: none;
  font-weight: bold;
  color: black;
  transition: 0.3s all;
  position: relative;
}

.routeActive {
  text-decoration: none;
  font-weight: bold;
  color: #00b14f;
  transition: 0.2s all;
}

.subLink {
  display: none;
}

.subLink:hover {
  color: #00b14f;
  background-color: #f7f7f7;
}

.route:hover {
  background-color: rgb(250, 248, 248);
  color: #00b14f;
  /* padding: 20px; */
  border-radius: 10px;
}

.subLinkContainer {
  position: absolute;
  height: 0px;
  z-index: 8888;
  background-color: white;
  padding-right: 20px;
  opacity: 0;
  transition: 0.2s all;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.leftSideItem:hover .subLinkContainer {
  opacity: 1;
  height: auto;
}

.leftSideItem:hover .subLink {
  display: flex;
  align-items: center;
  color: black;
  padding: 10px;
  width: 100%;
}

.leftSide {
  display: flex;
  align-items: center;
  width: 70%;
}

.leftSide a {
  margin-right: 30px;
}

.rightSide {
  display: flex;
  width: 30%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

.loginBtn {
  border: 1px solid #00b14f;
  color: #00b14f;
  border-radius: 5px;
  text-align: center;
  width: 130px;
  margin-right: 15px;
  padding: 10px;
}
.registerBtn {
  color: white;
  background-color: #00b14f;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 120px;
}

.loginBtn:hover {
  background-color: #f7f7f7;
}

.registerBtn:hover {
  background-color: #0bbe5c;
}
