.container{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  height: 250px;
  padding-top: 20px;
  background-color: white;
}


.title{
  font-size: 1.1em;
  font-weight: bold;
}

