h3 {
  /* width: 195px; */
  max-width: fit-content;
  color: #00b14f;
  /* padding: 10px; */
  padding-bottom: 10px;
  border-bottom: 5px solid #00b14f;
}
.templateMainItem {
  padding: 10px;
}
.nameTemplate {
  color: #666;
  margin: 2px 0 0 17px;
}
.templateItem {
  margin: 10px 2px 5px 10px;
  font-weight: 700;
  font-size: 12px;
  background-color: #e5f7ed;
  border-radius: 3px;
  padding: 3px 8px;
  color: #2db14f;
  text-transform: capitalize;
}
.templateColor {
  display: flex;
  flex-direction: row;
  margin: 20px 0px 0px 12px;
  padding-bottom: 10px;
}
.orange {
  background-color: #ff823c;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin: 5px;
}
.green {
  background-color: #40ba77;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin: 5px;
}
.violet {
  background-color: #5d5fef;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin: 5px;
}
.blue {
  background-color: #00b4d8;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin: 5px;
}
.templateItemInfo {
  background-color: #fff;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.templateImage {
  box-shadow: 0 2px 2px rgb(0 0 0 / 15%);
  position: relative;
}
.templateImage:hover .navtemplateImage {
  opacity: 1;
  border-radius: 10px;
}
.previewButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 1px solid #fff;
  width: 70%;
  height: 43px;
  margin-top: 40%;
  margin-left: 15%;
  cursor: pointer;
}
.createCV {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  background-color: #2db14f;
  border-radius: 30px;
  height: 43px;
  margin-top: 15px;
  margin-left: 15%;
  margin-bottom: 40%;
  cursor: pointer;
}
.navtemplateImage {
  transition: all 0.2s ease;
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  opacity: 0;
  align-items: center;
  text-align: center;
}
/* .navtemplateImage span {
  color: #fff;
} */
.Icon {
  padding: 15px;
  color: #fff;
  padding-right: 3px;
}
img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
