.container {
  background-color: white;
  width: 58%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  min-height: 80vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

.showAllBtn {
  width: 120px;
  background: none;
  color: #00b14f;
  cursor: pointer;
  font-weight: bold;
}

.showAllBtn:hover {
  color: #74a78b;
}

.right{
  width: 100%;
}

.workList {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  column-gap: 2%;
  margin-bottom: 30px;
  min-height: fit-content;
}

.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  height: 15px;
  font-weight: bold;
  margin-bottom: 5px;
  width: 80%;
}

@media (max-width: 1750px) {
  .workList {
    grid-template-columns: auto auto;
    column-gap: 3%;
  }
}

.workInfo {
  margin-top: 20px;
  display: flex;
  border: 1px solid rgb(202, 202, 202);
  flex-direction: column;
  padding: 10px 10px 0 10px;
  cursor: pointer;
  border-radius: 10px;
  height: 100px;
  overflow: hidden;
}

.workInfo:hover {
  background-color: #f0f0f0;
}

.top {
  display: flex;
  align-items: center;
  height: 50px;
  margin-bottom: 10px;
}

.bottom {
  display: flex;
  overflow: hidden;
  cursor: pointer;
  margin-top: 5px;
}

.pagination {
  position: absolute;
  bottom: 0;
  width: 100px;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 5px;
}
