.navHeader {
  margin: 0;
  padding: 0;
  display: flex;
}

.navItem {
  list-style: none;
  padding-right: 50px;
}

.nav {
  padding-bottom: 15px;
  color: black;
}

.navActive {
  color: black;
  font-weight: 600;
  padding-bottom: 15px;
  border-bottom: 2px solid black;
}

.boxSearch {
  padding-left: 100px;
  background: transparent
    linear-gradient(6deg, #fff, #c4ffdd 100%, rgba(195, 255, 221, 0.702) 0) 0 0
    no-repeat padding-box;
  min-height: 300px;
  padding-top: 30px;
}

.formSearch {
  width: 35%;
  background: #fff 0 0 no-repeat padding-box;
  border-radius: 100px;
  display: flex;
  height: 50px;
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: center;
}

.formSearch:hover {
  border: 1px solid #00b14f;
}

.btnSearch {
  width: 20%;
  border-radius: 100px;
  position: absolute;
  right: 7px;
  color: #fff;
  cursor: pointer;
}

.Input {
  border-color: transparent;
  box-shadow: none;
  font-size: 15px;
  height: 100%;
  outline: none;
  padding-left: 60px;
  width: 100%;
}

.main {
  padding: 30px 100px 60px 100px;
  background-color: #fff;
}

.item {
  box-shadow: 0 10px 10px rgba(243, 242, 242, 0.3);
}

.boxCompany {
  height: 420px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.boxCompany:hover {
  box-shadow: 0 10px 10px rgba(173, 171, 171, 0.3);
  transition: all 0.3;
}

.templateImage {
  height: 180px;
  cursor: pointer;
}

.templateItemInfo {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 20px 15px;
}

.templateItem {
  padding-bottom: 16px;
  text-transform: uppercase;
  font-weight: 700;
}

.templateItem2 {
  opacity: 0.8;
  font-weight: 300;
}
