.container{
  max-width: 60%;
  background-color: white;
  margin: 0 auto;
  padding: 10px;
  min-height: 100vh;
}

.general, .dowloadBtn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.post {
  display: flex;
  border: 1px solid gray;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.post:hover{
  border-color: #00b14f;
}

.cv{
  display: flex;
  border: 1px solid gray;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 0 20px;
  margin-bottom: 10px;
}

.dowloadBtn{
  color:white;
  background-color:#00b14f ;
  padding: 5px 10px;
  border-radius: 5px;
}
