.search {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 15px;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}

.content {
  background-color: #f0f0f0;
  height: 10%;
  display: flex;
  justify-content: center;
  margin-top: 20;
}
.navContent {
  background-color: #fff;
  height: 40;
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.headerText {
  font-size: 20px;
  color:#00b14f;
  font-weight: bolder;
}
.img {
  border: 1px solid #eee;
  border-radius: 1;
  align-items: center;
  margin: 20px;
}
.inforJob {
  background-color: #f0f0f0;
  height: 20%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.navInforJob {
  background-color: #fff;
  height: 40;
  width: 60%;
}

.boxMain {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 auto;
}
.boxItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
p {
  color: #333;
  font-weight: 700;
}

.jobData {
  margin: 16px 16px 16px 16px;
}

.btn {
  height: 40px;
  cursor: pointer;
  color: white;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.titleContainer {
  max-width: 60%;
  background-color: white;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.titleInfo{
  width: 60%;
}

.bodyContainer{
  max-width: 60%;
  background-color: white;
  margin: 0 auto;
  padding: 10px;
  margin-top: 30px;
  padding-bottom: 100px;
}

.box {
  background-color: rgba(0, 177, 79, 0.051);
  margin: 16px 16px 0;
  padding: 16px;
}

.modal{
  position: absolute;
  background-color: white;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #00b14f;
  width: 700px;
  padding: 10px;
}

.inputFile{
  border: 2px solid #b9b8b8 ;
  display: inline-block;
  padding: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  font-size: 15px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.inputFile:hover{
  border-color: #00b14f;
}
