.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cvList {
  width: 700px;
  background-color: #fff;
  padding: 10px;
  height: 230px;
  margin: 10px;
}
.boxHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.boxHeader h2 {
  font-size: 19px;
}
.account {
  height: 520px;
  width: 350px;
  background-color: #fff;
  margin-top: -20px;
}
.buttonAdd {
  border-radius: 30px;
  background-color: #2db14f;
  color: #fff;
  padding: 7px 12px 7px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 13px;
  font-size: 14px;
}
.contentBox {
  text-align: center;
  color: #2db14f;
  padding: 10px;
}
.user {
  width: 75px;
  border-radius: 50px;
  padding: 5px;
}
.userHeader {
  display: flex;
  flex-direction: row;
  padding: 20px 10px;
}
.userHeader p {
  margin: 0;
}
.button {
  display: flex;
  flex-direction: row;
  margin: 10px;
  width: 44px;
  height: 24px;
  border: 1px solid #dfdfdf;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
}
.navButton {
  position: absolute;
  height: 24px;
  width: 22px;
  background-color: #ff3737;
  border-radius: 100%;
  left: 0;
}
.fontNavButton {
  font-size: 13px;
  color: #999;
  margin: 12px;
  line-height: 20px;
  text-align: justify;
}
.radio {
  margin-left: 14px;
}
.radio span {
  font-size: 14px;
}
.profileCV {
  font-size: 13px;
  color: #e74c3c;
  text-align: justify;
  padding: 10px;
  /* margin: 15px 10px; */

}
.footer {
  margin-top: 20px;
  width: 350px;
  height: 230px;
  background-color: #fff;
  text-align: center;
}
.footer h3 {
  padding-top: 20px;
  border: none;
  margin: 0 auto;
  font-size: 22px;
}
.footer p {
  margin: 0;
  color: #999;
  font-size: 13px;
}
.countView {
  background-color: #999;
  height: 70px;
  width: 50%;
  border-radius: 50%;
  /* margin: 18px; */
  margin: 20px 10px 0px 10px;
  padding: 5px;
}
.countView h1 {
  margin: 0;
  padding-top: 5px;
  color: #fff;
}
.countView p {
  margin: 0;
  color: #fff;
}
.contentCount {
  margin-top: 20px;
  text-align: start;
  margin-left: 10px;
}
.content {
  font-size: 14px;
}
.buttonContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #2db14f;
  width: 110px;
  height: 30px;
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.5;
  color: #fff;
  margin: 15px 0 10px 40px;
  cursor: pointer;
}
